.slide-9 {
    position: relative;
    background-image: url("../images/bg2.png");
    .image-box {
        position: relative;
        width: 350px;
        height: 350px;
        left: 50%;
        margin-left: -175px;
        div {
            position: absolute;
        }
    }
    .item-text-title {
        width: 16px;
        color: #c36864;
        font-size: 26pt;
        font-weight: bold;
        position: absolute;
        top: 410px;
        left: 260px;
        right: 0;
        margin: 0 auto;
        text-align: center;
    }
    .item-text {
        width: 300px;
        color: #c36864;
        font-size: 14pt;
        font-weight: bold;
        position: absolute;
        top: 400px;
        left: -32px;
        right: 0;
        margin: 0 auto;
        text-align: center;
    }
}
