.slide-4 {
    position: relative;
    background-image: url("../images/bg.png");
    .love {
        position: absolute;
        left: 50%;
        margin-left:-175px;
        margin-top: 80px;
        width: 350px;
        height: 350px;
        div {
            position: absolute;
        }
    }
    .item-image {
        width: 18rem;
        height: 18rem;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: 4rem;
        left: 0;
        right: 0;
        margin: auto;
        background-image: url('../images/lu-1.png');
    }
    .item-text {
        width: 18rem;
        color: #c36864;
        font-size: 1.2rem;
        font-weight: bold;
        position: absolute;
        top: 24rem;
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: center;
    }
}
